* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375C;
    --primary-color: #2E80CE;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* =========== Common =========== */
.container {
     width: 1170px;
     max-width: calc(100% - 48px);
     margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    min-width: 205px;
    line-height: 60px;
    border: 1px solid var(--primary-color);
    border-radius: 999px;
    background: var(--primary-color);
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.section-heading {
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section-desc {
    max-width: 468px;
    margin-top: 18px;
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

.control {
    display: flex;
    gap: 18px;
}

.control__btn {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: #575F66;
    background: transparent;
    border: 1px solid #575F66;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}

.control__btn:hover {
    color: #fff;
    background: var(--primary-color);
    cursor: pointer;
    border: var(--primary-color);
}

/* =========== Header =========== */
.header {
    padding-top: 15px;
    min-height: 100vh;
    background: var(--header-bg);
}

.header-top {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 1rem;
    position: relative;
    display: inline-flex;
}

.logo__circle::before,
.logo__circle::after  {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2E80CE;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right   ;
}

.logo__branch {
    display: block;
    color: #FFF;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__branch--small {
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    display: flex;
    gap: 42px;
}

.navbar__link {
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.navbar__link:hover {
    color: #FFF;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active {
    color: #FFF;
    display: flex;
    align-items: center;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    margin-right: 8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.header-action__login {
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.header-action_signup {
    margin-left: 28px;
    min-width: 104px;
    line-height: 44px;
    font-size: 1.6rem;
}

/* ======== Hero =========== */
.hero {
    margin-top: 61px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
    flex-shrink: 0;
}

.hero__heading {
    width: 517px;
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    width: 468px;
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__phone {
    margin-left: 38px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.hreo__media {
    flex-grow: 1;
}

.hero__image {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* ======= Service ======== */

.service {
    padding: 170px 0;
}

.service__heading {
    text-align: center;
}

.service__desc {
    text-align: center;
    margin: 0 auto;
}

.service__row {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service__list {
    margin-bottom: 55px;
}

.service-item {
    width: 470px;
    display: flex;
    align-items: flex-start;
    padding: 21px 18px 20px 22px;
    background: #fff;
    border-radius: 10px;
}

.service-item:hover {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    position: relative;
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background: #EFF6FD;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    transition: 0.5s;
}

.service-item:hover .service-item__icon {
    color: #fff;
    background: #2E80CE;
}

.service-item__body {
    margin-left: 19px;
}

.service-item__heading {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.service-item__desc {
    margin-top: 8px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

/* ============ How it works */

.work {
    background: #F6FBFF;
    padding: 100px 0;
}

.work__list {
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.work-item {
    border: 16px solid #EAF6FF;
    border-radius: 4px;
    padding: 43px 42px;
    background: #fff;
    transition: .5s;
}

.work-item:hover {
    transform: translateY(-16px);
    border-color: var(--primary-color);
}

.work-item:hover .work-item__link {
    color: var(--primary-color);
    font-weight: 400;
}

.work-item__heading {
    margin: 18px 0 28px;
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.work-item__desc {
    color: #575F66;
    font-style: normal;
    font-weight: 300;
    line-height: 1.75;
}

.work-item__link {
    display: inline-block;
    margin-top: 18px;
    color: #575F66;
    font-weight: 300;
    line-height: 1.75;
}

/* ========== Feature ========= */

.feature {
    padding: 85px 0;
    margin-top: 85px;
}

.feature__content {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.feature__media {
    width: 48%;
}

.feature__images {
    position: relative;
    padding: 0 58px 121px 0;
}

.feature__img {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.feature__img:last-child {
    width: 332px;
    height: 370px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.feature__cta {
    margin-top: 38px;
}

/* ========  */

.member {
    padding: 85px 0;
}

.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member__cta {
    margin-top: 38px;
}

.member__list {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

.member-item__bg-img {
    height: 318px;
    border-radius: 6px;
    background: #EAF6FF;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    overflow: hidden;
}

.member-item__thumb {
    max-width: 100%;
    height: 290px;
    object-fit: cover;
    transition: .5s;
}

.member-item:hover .member-item__thumb {
    transform: scale(1.1);
}

.member__name {
    margin-top: 12px;
    color: #10375C;
    text-align: center;
    font-weight: 600;
    line-height: 1.75;
}

.member__desc {
    color: #575F66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85;
}

.member__control {
    margin-top: 38px;
    justify-content: center;
}

/* ============= Install ============ */

.install {
    margin-top: 180px;
}

.install-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    border-radius: 4px;
    background: #2E80CE;
}

.install__img {
    display: block;
    margin-top: -95px;
    width: 284px;
    height: 522px;
    object-fit: cover;
}

.install__info {
    width: 586px;
}

.install-heading,
.install-desc {
    color: #fff;
}

.install-desc {
    max-width: 100%;
}

.install-heading {
    max-width: 489px;
}

.install__row {
    margin-top: 38px;
    display: flex;
    column-gap: 28px;

}

/* ========== News ============= */
.news {
    margin-top: 85px;
    padding: 85px 0;
}

.news-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news__content {
    width: 40%;
}

.news__more {
    display: inline-block;
    margin: 28px 0;
    color: #10375C;
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.55;
    text-decoration: underline;
    text-underline-offset: 4px;
} 

.news__list {
    display: flex;
    column-gap: 30px;
    max-width: 570px;
}

.news-item {
    border-radius: 12px;
    background: #FFF;
    border: 1px solid #E8EBEE; 
    transition: .5s;
    overflow: hidden;
}

.news-item:hover {
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
    transform: translateY(-16px);
}

.news-item__img {
    width: 100%;    
    height: 172px;
    border-radius: 12px 12px 0 0;
    object-fit: cover;
}

.news-item__body {
    padding: 18px 22px 21px;
}

.news-item__heading {
    color: #10375C;
    font-weight: 600;
    line-height: 1.62;
}

.news-item__desc {
    margin-top: 10px;
    color: #575F66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71;
}

.news-item__link {
    display: inline-block;
    margin-top: 12px;
    color: #2E80CE;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}

/* ============= Appointment =========== */
.appointment {
    padding: 85px 0;
}

.appointment__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    background: #F6FBFF;
}

.aappointment__heading::after {
    content: "";
    display: inline-block;
    width: 136px;
    height: 2px;
    background: var(--primary-color);
}

.appointment__desc {
    max-width: 617px;
    margin: 18px 0 38px 0;
    color: #575F66;
    text-align: center;
    font-weight: 300;
    line-height: 1.75;
}

/* ========= Footer ========== */
.footer {
    margin-top: 85px;
    padding: 100px 0 42px;
    background: #10375C;
    font-family: "Open Sans", sans-serif;
}

.footer__row {
    display: grid;
    grid-template-columns: 1fr 0.4fr 0.4fr 1fr;
    column-gap: 78px;
    border-bottom: 1px solid #406181;
}

.footer__desc {
    width: 336px;
    margin-top: 21px;
    color: #A9B3BB;
    font-weight: 400;
    line-height: 1.75;
}

.footer__heading {
    margin-bottom: 20px;
    color: #FFF;
    font-weight: 600;
    line-height: 1.75;
}

.footer__list {
    margin-bottom: 28px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.footer__item a {
    color: #A9B3BB;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
    white-space: nowrap;
}

.footer__social {
    display: flex;
    column-gap: 10px;
    margin-bottom: 28px;
}

.footer__social-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: #fff;
    color: #2E80CE;
    transition: .5s;
}

.footer__social-btn:hover {
    background: #2E80CE;
    color: #fff;
}

.footer-from {
    display: flex;  
    column-gap: 12px;
    margin-top: 10px;
}

.footer-from__input {
    width: 212px;
    height: 46px;
    border-radius: 4px;
    border: 1px solid #406181;
    background: transparent;
    outline: none;
}

.footer-from__input::placeholder {
    color: #9CA8B1;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.footer-from__submit {
    min-width: 108px;
    height: 46px;
    border: 1px solid var(--primary-color);
    border-radius: 4px;
    background: var(--primary-color);
    color: #fff;
    outline: none;
}

.footer-from__submit:hover {
    cursor: pointer;
    opacity: 0.8;
}

.footer__copyright {
    text-align: center;
}

.footer__copyright-text {
    margin-top: 28px;
    color: #AAB3BA;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}
