* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375C;
    --primary-color: #2E80CE;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
    height: 10000px;
}

/* =========== Common =========== */
.container {
     width: 1170px;
     max-width: calc(100% - 48px);
     margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    display: inline-block;
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    min-width: 205px;
    line-height: 60px;
    border: 1px solid var(--primary-color);
    border-radius: 999px;
    background: var(--primary-color);
}

.btn:hover {
    cursor: pointer;
    opacity: 0.8;
}

.section-heading {
    color: #10375C;
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section-desc {
    margin: 0 auto;
    max-width: 468px;
    margin-top: 18px;
    color: #575F66;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

/* =========== Header =========== */
.header {
    padding-top: 15px;
    min-height: 100vh;
    background: var(--header-bg);
}

.header-top {
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 1rem;
    position: relative;
    display: inline-flex;
}

.logo__circle::before,
.logo__circle::after  {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2E80CE;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right   ;
}

.logo__branch {
    display: block;
    color: #FFF;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__branch--small {
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    display: flex;
    gap: 42px;
}

.navbar__link {
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.navbar__link:hover {
    color: #FFF;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active {
    color: #FFF;
    display: flex;
    align-items: center;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    margin-right: 8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.header-action__login {
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.header-action_signup {
    margin-left: 28px;
    min-width: 104px;
    line-height: 44px;
    font-size: 1.6rem;
}

/* ======== Hero =========== */
.hero {
    margin-top: 61px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
    flex-shrink: 0;
}

.hero__heading {
    width: 517px;
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    width: 468px;
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
}

.hero__phone {
    margin-left: 38px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.hreo__media {
    flex-grow: 1;
}

.hero__image {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    object-fit: cover;
    border-radius: 6px;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* ======= Service ======== */

.service {
    padding: 170px 0;
}

.service__row {
    margin-top: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service__img {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service__list {
    margin-bottom: 55px;
}

.service-item {
    width: 470px;
    display: flex;
    align-items: flex-start;
    padding: 21px 18px 20px 22px;
    background: #fff;
    border-radius: 10px;
}

.service-item:hover {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    position: relative;
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background: #EFF6FD;
    border-radius: 50%;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    transition: 0.5s;
}

.service-item:hover .service-item__icon {
    color: #fff;
    background: #2E80CE;
}

.service-item__body {
    margin-left: 19px;
}

.service-item__heading {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.service-item__desc {
    margin-top: 8px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}